@model ImageManager.MVC.ViewModels.ImageViewModel
@{
    ViewData["Title"] = "Новое изобраажение";
}


<div class="justify-content-center">
    <div class="col">
        <div class="text-center m-sm-4">
            <h4>Новое изображение пользователя @Model.FullName (@Model.Email)</h4>
        </div>
        <div class="justify-content-center row">
            <img class="img-notice" src="@Model.Path"/>
        </div>
        <div class="text-sm-center m-sm-3">
            <button class="btn btn-outline-info" onclick="backOrClose();">Назад</button>
        </div>
    </div>
</div>
